## Ashwini Sarvepalli, Anushka Gami, and Angela Watters
  
### Final Project Part 2 Playing Around with Dashboard

In [2]:
import pandas as pd
import bqplot
import numpy as np
import ipywidgets
import matplotlib.pyplot as plt

In [4]:
ufo = pd.read_csv("ufo_sighting_data.csv",dtype={"length_of_encounter_seconds": "string", "latitude": "string"})

ufo.head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [ ]:
ufo["latitude"] = pd.to_numeric(ufo["latitude"], errors="coerce")
ufo["length_of_encounter_seconds"] = pd.to_numeric(ufo["length_of_encounter_seconds"], errors="coerce")
ufo.dropna(axis=0,inplace=True)
pd.options.display.float_format = '{:20,.2f}'.format
ufo.describe()

In [ ]:
ufo['date_documented'] = pd.Series([
    pd.to_datetime(
        date,
        format = '%Y%m%d',
        errors='coerce'
    ) for date in ufo['date_documented']
])

In [ ]:
ufo[['date','time']] = ufo['Date_time'].str.split(expand=True)
ufo['datetime'] = (pd.to_datetime(ufo.pop('date'), format='%m/%d/%Y') +
                  pd.to_timedelta(ufo.pop('time') + ':00'))
ufo['year'] = pd.DatetimeIndex(ufo['datetime']).year
ufo.head()

In [ ]:
ufo.columns

In [ ]:
import altair as alt

In [ ]:
chart1 = alt.Chart.from_dict({
  "data": {"url": "ufo_sighting_data.csv"},
  "mark": {"type": "rect", "strokeWidth": 2},
  "height":400,
  "width":300,
  "encoding": {
    "x":{"timeUnit": "year","field":"date_documented", "type":"temporal"},
    "y":{"field":"country","type":"ordinal"},
    "fill":{"aggregate":"count", "type":"quantitative"},
      
       } 
}
)

In [ ]:
chart1

In [ ]:
chart2 = alt.Chart.from_dict({
    "data": {"url": "ufo_sighting_data.csv"},
    "mark":"bar",
    "height":400,
    "width":300,
    "encoding":{
           "x":{"field":"UFO_shape", "type":"nominal", "title":"Shape of UFO"},
            "y": {"aggregate": "count", "axis": {"title": "Frequency"}}
     }    
}
    
)

In [ ]:
chart2

In [ ]:
myJekyllSaveDir = '/Users/angelawatters/Documents/GitHub/angwatters.github.io/assets/json/'

In [ ]:
chart1.properties(width='container').save(myJekyllSaveDir+'rect2_fp_bf.json')

In [ ]:
chart2.properties(width='container').save(myJekyllSaveDir+'hist2_fp_bf.json')

In [ ]:
hist2 = alt.Chart.from_dict({
    "data": {"url": "ufo_sighting_data.csv"},
    "mark":"bar",
    "height":400,
    "width":300,
    "encoding":{
           "x":{"field":"UFO_shape", "type":"nominal", "title":"Shape of UFO"},
            "y": {"aggregate": "count", "axis": {"title": "Frequency"}}
     }    
}
)
hist2

In [ ]:
rect2 = alt.Chart.from_dict( {
  "data": {"url": "ufo_sighting_data.csv"},
  "mark": {"type": "rect", "strokeWidth": 2},
  "height":400,
  "width":300,
  "encoding": {
    "x":{"timeUnit": "year","field":"date_documented", "type":"temporal"},
    "y":{"field":"country","type":"ordinal"},
    "fill":{"aggregate":"count", "type":"quantitative"},
      
       } 
}
)
rect2

In [ ]:
chart = alt.HConcatChart(hconcat=[rect2, hist2])
chart

In [ ]:
#chart.properties(width='container').save(myJekyllSavDir+'sidebyside.json')
chart.save(myJekyllSaveDir+'fp_sidebyside2.json')

In [ ]:
brush = alt.selection_interval(encodings=['x','y'])

In [ ]:
rect2 = alt.Chart.from_dict( {
  "data": {"url": "ufo_sighting_data.csv"},
  "mark": {"type": "rect", "strokeWidth": 2},
  "height":400,
  "width":300,
  "encoding": {
    "x":{"timeUnit": "year","field":"date_documented", "type":"temporal"},
    "y":{"field":"country","type":"ordinal"},
    "fill":{"aggregate":"count", "type":"quantitative"},
      
       } 
}
).add_selection(
brush
)
rect2

In [ ]:
hist2 = alt.Chart.from_dict({
    "data": {"url": "ufo_sighting_data.csv"},
    "mark":"bar",
    "height":400,
    "width":300,
    "encoding":{
           "x":{"field":"UFO_shape", "type":"nominal", "title":"Shape of the UFO"},
            "y": {"aggregate": "count", "axis": {"title": "Frequency"}}
     }    
}
  ).transform_filter(
    brush
)
#hist2

In [ ]:
dashboard = rect2 | hist2

In [ ]:
dashboard

In [ ]:
# dashboard.save(myJekyllSaveDir+'dashboard_ufo2_from_dict.json')

### Dashboard Description

For this dashboard we can observe on the left graph a heat graph that depicts the amount of UFO sightings based on the country and the year documented. From the data we can see a concentrated amount of records for the us as accordance to the legend on the right hand side. Once a user is selects a data box on the left map, the right graph is a bar graph that depicts the UFO shapes of the number of records from that year and country.

### How Large is the Dataset?

Our dataset is is a 13.7 MB csv file and has 80332 rows and 11 columms of data. Github limits files above 100MB so we don't have to worry about hosting the data ourselves.

### Contextual Data

A list of 1 or more contextual datasets you have identified, links to where they reside, and a sentence about why they might be useful in telling the final story.
by "contextual dataset" here means a dataset that would add context to your chosen dataset.  For example, if your dataset is the Champaign bus routes, some interesting contextual datasets could be the Chicago bus routes, or the Springfield bus routes, or the Amtrak routes in Champaign
you do not have to do anything with this dataset at the moment beyond writing a bit about why it would be useful.  Looking forward, you will want to include "contextual visualizations" (which you may or may not generate on your own) in your Final Project, Part 3 and identifying a possibly useful dataset is a great way to start looking for contextual visualizations.

### Contextual Datasets

Near Earth Object observed by NASA (1900-2021) https://www.kaggle.com/datasets/ramjasmaurya/near-earth-objects-observed-by-nasa \
Meteorite Landings - https://www.kaggle.com/datasets/nasa/meteorite-landings

### Descriptions
The first dataset is for near-Earth objects observed by NASA. A near-Earth object (NEO) is an asteroid or comet that passes close to the Earth's orbit. The dataset has sightings from 1900 to 2021, and it will pair nicely with our primary dataset which has observations from 1900 and beyond. We think this dataset will add help us context to visualizations we create with our primary one since it is possible that people have confused NEOs for UFOs in their sightings.


This second link is a dataset that showcases data regarding meteorites that have fallen on Earth. It contains over 45,000 observations and will help provide insight on which sorts of objects have been seen close to Earth. We think it would be a good idea to compare the latitude, longitude, and year of these observations with those in our primary dataset to see if there are any meteorites that could have been mistaken as UFOs. Also, we think the mass of the meteorites will be an interesting metric to consider as well.